
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        
          <span class="login100-form-title pb-2">
            Bienvenido
          </span>
        
        <div class="wrap-input100 validate-input mt-5 mb-4" data-validate="Ingrese usuario">
          <input class="input100" type="text" name="username">
          <span class="focus-input100" data-placeholder="Usuario"></span>
        </div>

        <div class="wrap-input100 validate-input mb-5" data-validate="Ingrese Clave">
          <input class="input100" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Clave"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Ingresar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>