<div class="pt-2 px-xs-0 px-sm-3 px-md-5 w-100" style="height: 90vh;">
    <div class="col p-0">
        <div class="row">
          <div class="col-12 col-xl-8 offset-xl-2">
            <nav aria-label="breadcrumb" style="border-radius: 5px;">
              <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item d-block d-sm-none"><a href="javascript:void(0)">...</a></li>
                <li class="breadcrumb-item d-none d-sm-block"><a href="javascript:void(0)">Cadenas Supermercados</a></li>
                <li class="breadcrumb-item active" aria-current="page"><strong>Mantenimiento de zonas</strong></li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row" id='pnlList'>
            <div class="col-12 col-xl-8 offset-xl-2">
                <div class="row">
                  <div class="col">
                    <button (click)='nuevo()' type="button" class="btn rounded btn-outline-success ml-1">
                       <i class="fa fa-plus"></i> Nueva Zona
                    </button>
                  </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                      <table id="table_zones" class="table table-bordered table-sm">
                        <thead class="text-center bg-primary text-white">
                          <th></th>
                          <th></th>
                          <th>Nombre</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let zone of zoneList">
                            <td class='text-center'><a class="text-primary" href="javascript:void(0);" (click)="edit(zone)"><i class="fa fa-edit"></i></a></td>
                            <td class='text-center'><a class="text-danger" href="javascript:void(0);" (click)="delete(zone)"><i class="fa fa-trash"></i></a></td>
                            <td>{{zone.nombre}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                      </table>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row d-none" id='pnlEdit'>
            <div class="col-12 col-xl-6 offset-xl-3">
              <div class="card-body">
                  <h4 class="text-center"><i class="fa fa-shopping"></i> {{actionName}} Zona</h4>
                  <form (ngSubmit)="onSubmit(formNew)" #formNew="ngForm">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Nombre" #nombre="ngModel"  [(ngModel)]="zone.nombre" id="nombres" name="nombres"  value="" required>
                      </mat-form-field>
                  
                      <div class="row d-flex justify-content-end">
                        <div class="col col-sm-4 col-xl-3">
                          <input type="button" value="Salir" class="btn btn-default rounded btn-sm btn-block btn-lg" (click)='salir()'>
                        </div>
                        <div class="col col-sm-4 col-xl-3">
                          <input type="submit" value="Grabar" class="btn btn-primary rounded btn-sm btn-block btn-lg">
                        </div>
                      </div>
                    </form>
              </div>
            </div>
        </div>
    </div>
</div>  
