<div class="pt-2 px-xs-0 px-sm-3 px-md-5 w-100" style="height: 90vh;">
    <div class="col p-0">
        <div class="row">
          <div class="col-12 col-xl-8 offset-xl-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb" style="border-radius: 5px;">
                <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item d-block d-sm-none"><a href="javascript:void(0)">...</a></li>
                <li class="breadcrumb-item d-none d-sm-block"><a href="javascript:void(0)">Clientes</a></li>
                <li class="breadcrumb-item active" aria-current="page"><strong>Mantenimiento de clientes</strong></li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row" id='pnlList'>
            <div class="col-12 col-xl-8 offset-xl-2">
                <div class="row">
                  <div class="col">
                    <button (click)='nuevo()' type="button" class="btn rounded btn-outline-success ml-1">
                    <i class="fa fa-plus"></i> Nuevo Cliente
                    </button>
                  </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                      <table id="table_customers" class="table table-bordered table-sm">
                        <thead class="text-center bg-primary text-white">
                          <th>Ruc</th>
                          <th></th>
                          <th></th>
                          <th>Raz&oacute;n Social</th>
                          <th>Direcci&oacute;n</th>
                          <th>Tel&eacute;fono</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let customer of customerList">
                            <td>{{customer.ruc}}</td>
                            <td class='text-center'><a class="text-primary" href="javascript:void(0);" (click)="edit(customer)"><i class="fa fa-edit"></i></a></td>
                            <td class='text-center'><a class="text-danger" href="javascript:void(0);" (click)="delete(customer)"><i class="fa fa-trash"></i></a></td>
                            <td>{{customer.razonsocial}}</td>
                            <td>{{customer.direccion}}</td>
                            <td>{{customer.telefono}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                      </table>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row d-none" id='pnlEdit'>
            <div class="col-12 col-xl-6 offset-xl-3">
              <div class="card-body">
                  <h4 class="text-center"><i class="fa fa-shopping"></i> {{actionName}} Cliente</h4>
                  <form (ngSubmit)="onSubmit(formNew)" #formNew="ngForm">
                      <mat-form-field class="w-100">
                        <label for="ruc"><i class="fa fa-address-card"></i> Ruc:</label>
                        <input matInput [(ngModel)]="customer.ruc" #ruc="ngModel" type="text" name="ruc" id="ruc"  class="form-control" minlength="13" maxlength="15" (keypress)="onlyNumber($event)" required>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                          <label for="razon"><i class="fa fa-bookmark"></i> Raz&oacute;n Social:</label>
                          <input matInput [(ngModel)]="customer.razonsocial" #razonsocial="ngModel" type="text" name="razon" id="razon"  class="form-control" required>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                          <label for="telf"><i class="fa fa-phone"></i> Telefono:</label>
                          <input matInput [(ngModel)]="customer.telefono" #telefono="ngModel" type="text" name="telf" id="telf"  class="form-control">
                      </mat-form-field>
                      <mat-form-field class="w-100">
                          <label for="direccion"><i class="fa fa-address-book"></i> Direcci&oacute;n:</label>
                          <textarea matInput [(ngModel)]="customer.direccion" rows="3" #direccion="ngModel" name="direccion" id="direccion"  class="form-control">
                          </textarea>
                      </mat-form-field>
                      <div class="bg-warning rounded p-1 text-white" *ngIf="ruc.touched && !ruc.valid">
                        <div *ngIf="ruc.errors.required"><small> * Ruc es requerido</small></div>
                        <div *ngIf="ruc.errors.minlength"><small> * Ruc debe contener mínimo
                            {{ruc.errors.minlength.requiredLength}} caracteres</small></div>
                      </div>
                      <div class="bg-warning rounded p-1 text-white" *ngIf="razonsocial.touched && !razonsocial.valid">
                        <small> * Razon Social es requerida</small>
                      </div>
                      <div class="row pt-2 justify-content-end">
                        <div class="col col-sm-4 col-xl-3">
                          <input type="button" value="Salir" class="btn btn-default rounded btn-sm btn-block btn-lg" (click)='salir()'>
                        </div>
                        <div class="col col-sm-4 col-xl-3">
                          <input type="submit" value="Grabar" class="btn btn-primary rounded btn-sm btn-block btn-lg">
                        </div>
                      </div>
                    </form>
              </div>
            </div>
        </div>
    </div>
</div>