<div class="pt-2 px-xs-0 px-sm-3 px-md-5 w-100" style="height: 90vh;">
  <div class="col p-0">
    <div class="row">
      <div class="col-12 col-xl-8 offset-xl-2">
        <nav aria-label="breadcrumb" style="border-radius: 5px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item d-block d-sm-none"><a href="javascript:void(0)">...</a></li>
            <li class="breadcrumb-item d-none d-sm-block"><a href="javascript:void(0)">Usuarios</a></li>
            <li class="breadcrumb-item active" aria-current="page"><strong>Mantenimiento de usuarios</strong></li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row" id='pnlList'>
      <div class="col-12 col-xl-8 offset-xl-2">
          <div class="row">
            <div class="col">
              <button (click)='nuevo()' type="button" class="btn btn-round btn-outline-success ml-1">
                Nuevo Usuario
              </button>
            </div>
          </div>
          <div class="row mt-1">
              <div class="col">
                <table id="table_users" class="table table-bordered table-sm">
                  <thead class="text-center bg-primary text-white">
                    <th>Nombre</th>
                    <th></th>
                    <th></th>
                    <th>Email</th>
                    <th>C&eacute;dula</th>
                    <th>Estado</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of userList">
                      <td>{{user.nombre}}</td>
                      <td class='text-center'> <a href="javascript:void(0);" (click)="edit(user)"> <i class="fa fa-edit"></i></a></td>
                      <td class='text-center'> <a href="javascript:void(0);" (click)="delete(user)"> <i class="fa fa-trash"></i></a></td>
                      <td>{{user.email}}</td>
                      <td class='text-center'>{{user.cedula}}</td>
                      <td class='text-center'>{{user.estado}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
            </div>
      </div>
    </div>
    <div class="row d-none" id='pnlEdit'>
        <div class="col-12 col-xl-8 offset-xl-2 bg-light">
          <div class="card-body">
              <h4 class="text-center"><i class="fa fa-user"></i> {{actionName}} Usuario</h4>
              <form (submit)="onSubmitRegisterAddUser()">
                <div class="row">
                  <div class="col">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Cedula" #cedula="ngModel"  [(ngModel)]="user.cedula" id="cedula" name="cedula"  value="" required>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Nombres" #nombre="ngModel"  [(ngModel)]="user.nombre" id="nombre" name="nombre"  value="" required>
                      </mat-form-field>
                  </div>
                  <div class="col">
                      <fieldset class="scheduler-border">
                        <legend class="scheduler-border"> Perfiles </legend>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="chk-adm" class="custom-control-input">
                            <label class="custom-control-label" for="chk-adm">Administrador</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="chk-merc" class="custom-control-input">
                            <label class="custom-control-label" for="chk-merc">Mercaderista</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="chk-clt" class="custom-control-input">
                            <label class="custom-control-label" for="chk-clt">Cliente</label>
                          </div>
                      </fieldset>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-sm-5 col-xl-3">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="rd-masc" name="genero" class="custom-control-input" checked>
                        <label class="custom-control-label" for="rd-masc">Masculino</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-5 col-xl-3">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="rd-fem" name="genero" class="custom-control-input">
                        <label class="custom-control-label" for="rd-fem">Femenino</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <mat-form-field class="w-100">
                          <input type="email" matInput placeholder="Email" #email="ngModel"  [(ngModel)]="user.email" id="email" name="email"  value="" required>
                      </mat-form-field>
                  </div>
                  <div class="col" id="colPwd">
                      <mat-form-field class="w-100">
                          <input type="password" matInput placeholder="Password"  [(ngModel)]="user.password" id="password" name="password"  value="" required>
                      </mat-form-field>
                  </div>
                </div>
                <div class="row d-flex justify-content-end">
                  <div class="col col-sm-4 col-xl-3">
                    <input type="button" value="Salir" class="btn btn-default btn-block btn-lg" (click)='salir()'>
                  </div>
                  <div class="col col-sm-4 col-xl-3">
                    <input type="submit" value="Grabar" class="btn btn-primary btn-md btn-block btn-lg">
                  </div>
                </div>
              </form>
          </div>
        </div>
    </div>
  </div>
</div>