<div class="pt-2 px-xs-0 px-sm-3 px-md-5 w-100" style="height: 90vh;">
    <div class="col p-0">
        <div class="row">
          <div class="col-12 col-xl-8 offset-xl-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item d-block d-sm-none"><a href="javascript:void(0)">...</a></li>
                <li class="breadcrumb-item d-none d-sm-block"><a href="javascript:void(0)">Ordenes de Trabajo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Consulta de Ordenes</li>
              </ol>
            </nav>
          </div>
        </div>
        
    </div>
</div>