/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.field-icon {
  position: absolute;
  float: right;
  top: -100;
}

body{
  font-family: 'Muli', sans-serif;
}

