<datalist id="listalimitestiempo">
  <option value="09:00">
  <option value="10:00">
  <option value="11:00">
  <option value="12:00">
  <option value="13:00">
  <option value="14:00">
  <option value="15:00">
  <option value="16:00">
  <option value="17:00">
  <option value="18:00">
</datalist>
<div class="pt-2 px-xs-0 px-sm-3 px-md-5 w-100" style="height: 90vh;">
    <div class="col p-0">
        <div class="row">
          <div class="col-12 col-xl-10 offset-xl-1">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb" style="border-radius: 5px;">
                <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item d-block d-sm-none"><a href="javascript:void(0)">...</a></li>
                <li class="breadcrumb-item d-none d-sm-block"><a href="javascript:void(0)">Ordenes de Trabajo</a></li>
                <li class="breadcrumb-item active" aria-current="page"><strong>Mantenimiento de Ordenes</strong></li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row" id='pnlEdit'>
            <div class="col-12 col-xl-10 offset-xl-1">
              <div class="card-body bg-light border border-primary rounded pl-lg-5">
                  <h4 class="text-center"><strong> Orden de Trabajo </strong></h4>
                  <form (ngSubmit)="onSubmit(formNew)" #formNew="ngForm">
                    <div class="row">
                      <div class="col-12 col-md-9 p-0">
                        <div class="row pt-2">
                            <div class="col-12 col-md-6">
                                  <div class="d-flex flex-column">
                                    <span for="" class="text-primary"> Mercaderista:</span>
                                    <select class="form-control" id="cmbMerchant">
                                        <option *ngFor="let merchant of merchantList" value="{{merchant.id}}">{{merchant.nombre}}</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex flex-column">
                                    <span for="" class="text-primary"> Prioridad:</span>
                                  <select class="form-control" id="cmbPriority" >
                                      <option *ngFor="let priority of priorityList" value="{{priority.id}}">{{priority.nombre}}</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-12 col-md-6">
                                <div class="d-flex flex-column">
                                    <span for="" class="text-primary">Cadena:</span>
                                  <select class="form-control" id="cmbChain">
                                      <option *ngFor="let chain of chainList" value="{{chain.id}}">{{chain.nombre}}</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex flex-column">
                                    <span for="" class="text-primary">Tienda:</span>
                                  <select class="form-control" id="cmbStore">
                                      <option *ngFor="let store of storeList" value="{{store.id}}">{{store.nombre}}</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-12 col-md-6">
                                <div class="d-flex flex-column">
                                    <span for="" class="text-primary">Cliente:</span>
                                  <select class="form-control" id="cmbCustomer">
                                      <option *ngFor="let customer of customerList" value="{{customer.id}}">{{customer.razonsocial}}</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex flex-column">
                                  <span for="" class="text-primary"> Marca:</span>
                                  <select class="form-control" id="cmbBrand" multiple>
                                      <option *ngFor="let brand of brandList" value="{{brand.id}}">{{brand.nombre}}</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4 d-flex justify-content-end">
                          <div class="col-12 col-sm-4 col-xl-6">
                            <!-- <input type="button" value="Limpiar" class="btn btn-outline-secondary rounded btn-sm btn-lg" (click)='up()'> -->
                            <button type="button" class="btn btn-outline-primary rounded btn-sm btn-lg" (click)='up()'>
                                <i class="fa fa-arrow-up"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary rounded btn-sm btn-lg ml-1" (click)='down()'>
                                <i class="fa fa-arrow-down"></i>
                            </button>
                          </div>
                          <div class="col-12 col-sm-4 col-xl-3">
                            <input type="button" value="Limpiar" class="btn btn-outline-secondary rounded btn-sm btn-block btn-lg" (click)='limpiar()'>
                          </div>
                          <div class="col-12 col-sm-4 col-xl-3">
                            <input type="submit" value="Crear Orden" class="btn btn-primary rounded btn-sm btn-block btn-lg">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-3">
                        <div class="row">
                          <div class="col d-flex flex-column">
                              <span for="" class="text-primary"> Fecha Visita:</span>
                              <div id="calendar">
                                
                              </div>
                              <div id="times">

                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
              <div class="card card-block mt-2 dvskulist">
                <div class="col">
                  <table id="table_skus" class="table table-bordered table-sm">
                    <thead class="text-center bg-dark text-white">
                      <th></th>
                      <th>Cliente</th>
                      <th>Marca</th>
                      <th>Producto</th>
                      <th>Presentaci&oacute;n</th>
                      <th>Sabor</th>
                      <th>SKU</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let sku of skuList">
                        <td class='text-center'> <a href="javascript:void(0);" (click)="exclude(sku)"> <i class="fa fa-trash"></i></a></td>
                        <td>{{sku.ds_cliente}}</td>
                        <td>{{sku.ds_marca}}</td>
                        <td>{{sku.descripcion}}</td>
                        <td>{{sku.presentacion}}</td>
                        <td>{{sku.sabor}}</td>
                        <td class='text-center'>{{sku.sku}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>